<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    Create by 文童 2017-12-2
    图片数据库操作mapper
-->


<mapper namespace="com.dao.PhotographyPicsDao">

    <!--上传图片-->
    <insert id="fileUpload">
        INSERT INTO photographypics(album_id,PhotographyPics_pushTime,PhotographyPics_url)
                VALUES (#{album_id},now(),#{PhotographyPics_url});
    </insert>
</mapper>