<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PhotographerDao">

    <!--通过摄影师Id获取摄影师详细信息-->
  <select id="getPhotographerDetailsById" resultType="Map">
      SELECT * FROM photographer WHERE photographer_id=#{PG_id};
  </select>

    <!--摄影师注册-->
  <insert id="photographerRegister">
      INSERT INTO photographer(user_id,photographer_name,ID_number,sex)
              VALUES (#{userId},#{realyName},#{ID_number},#{sex});
  </insert>

    <!--更新摄影师简介-->
    <update id="updatePhotographerIntro">
        UPDATE photographer SET photographer_intro=#{intro} WHERE photographer_id=#{photographerId};
    </update>
</mapper>