<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.U_to_p_messageMapper">
    <resultMap id="BaseResultMap" type="com.bean.U_to_p_message">
        <id column="photographer_message_id" jdbcType="Integer" property="photographerMessageId"/>
        <result column="photographer_message_content" jdbcType="VARCHAR" property="photographerMessageContent"/>
        <result column="user_id" jdbcType="Integer" property="userId"/>
        <result column="photographer_id" jdbcType="Integer" property="photographerId"/>
        <result column="message_create" jdbcType="TIMESTAMP" property="messageCreate"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    <!--1.摄影师，获取留言的结果集-->
    <resultMap id="PGetMessages" type="com.bean.U_to_p_message">
        <id column="photographer_message_id" jdbcType="Integer" property="photographerMessageId"/>
        <result column="user_id" jdbcType="Integer" property="userId"/>
        <result column="photographer_message_content" jdbcType="VARCHAR" property="photographerMessageContent"/>
        <result column="message_create" jdbcType="TIMESTAMP" property="messageCreate"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    <!--1.摄影师获取信息发送的sql-->
    <sql id="PGet_Messages_List">
    up.photographer_message_id, up.photographer_id, up.photographer_message_content, up.message_create,up.user_id,
    u.user_name
  </sql>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    photographer_message_id, photographer_message_content, user_id, photographer_id, 
    message_create, user_name
  </sql>

    <!--//1.根据摄影师ID,查询到用户给其的留言-->
    <!--List<U_to_p_message> selectByPhotographerId(Long photographerId);-->
    <select id="selectByPhotographerId" parameterType="long" resultMap="PGetMessages">
        SELECT
        <include refid="PGet_Messages_List"/>
        FROM u_to_p_message up INNER JOIN `user` u ON up.user_id=u.user_id
        AND up.photographer_id=#{photographerId};
    </select>

    <!--//2.用户给摄影师留言。-->
    <!--U_to_p_message addMessage(U_to_p_message u_to_p_message);-->
    <insert id="addMessage" parameterType="com.bean.U_to_p_message">
      insert into u_to_p_message (photographer_message_content,
      user_id, photographer_id
      )
      VALUES (#{photographerMessageContent},#{userId},#{photographerId})
    </insert>

    <select id="selectByExample" parameterType="com.bean.U_to_p_messageExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from u_to_p_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from u_to_p_message
        where photographer_message_id = #{photographerMessageId,jdbcType=Integer}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from u_to_p_message
    where photographer_message_id = #{photographerMessageId,jdbcType=Integer}
  </delete>
    <delete id="deleteByExample" parameterType="com.bean.U_to_p_messageExample">
        delete from u_to_p_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.bean.U_to_p_message">
    insert into u_to_p_message (photographer_message_id, photographer_message_content, 
      user_id, photographer_id, message_create, 
      user_name)
    values (#{photographerMessageId,jdbcType=Integer}, #{photographerMessageContent,jdbcType=VARCHAR}, 
      #{userId,jdbcType=Integer}, #{photographerId,jdbcType=Integer}, #{messageCreate,jdbcType=TIMESTAMP}, 
      #{userName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.bean.U_to_p_message">
        insert into u_to_p_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="photographerMessageId != null">
                photographer_message_id,
            </if>
            <if test="photographerMessageContent != null">
                photographer_message_content,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="photographerId != null">
                photographer_id,
            </if>
            <if test="messageCreate != null">
                message_create,
            </if>
            <if test="userName != null">
                user_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="photographerMessageId != null">
                #{photographerMessageId,jdbcType=Integer},
            </if>
            <if test="photographerMessageContent != null">
                #{photographerMessageContent,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=Integer},
            </if>
            <if test="photographerId != null">
                #{photographerId,jdbcType=Integer},
            </if>
            <if test="messageCreate != null">
                #{messageCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.bean.U_to_p_messageExample" resultType="java.lang.Long">
        select count(*) from u_to_p_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update u_to_p_message
        <set>
            <if test="record.photographerMessageId != null">
                photographer_message_id = #{record.photographerMessageId,jdbcType=Integer},
            </if>
            <if test="record.photographerMessageContent != null">
                photographer_message_content = #{record.photographerMessageContent,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=Integer},
            </if>
            <if test="record.photographerId != null">
                photographer_id = #{record.photographerId,jdbcType=Integer},
            </if>
            <if test="record.messageCreate != null">
                message_create = #{record.messageCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.userName != null">
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update u_to_p_message
        set photographer_message_id = #{record.photographerMessageId,jdbcType=Integer},
        photographer_message_content = #{record.photographerMessageContent,jdbcType=VARCHAR},
        user_id = #{record.userId,jdbcType=Integer},
        photographer_id = #{record.photographerId,jdbcType=Integer},
        message_create = #{record.messageCreate,jdbcType=TIMESTAMP},
        user_name = #{record.userName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.bean.U_to_p_message">
        update u_to_p_message
        <set>
            <if test="photographerMessageContent != null">
                photographer_message_content = #{photographerMessageContent,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=Integer},
            </if>
            <if test="photographerId != null">
                photographer_id = #{photographerId,jdbcType=Integer},
            </if>
            <if test="messageCreate != null">
                message_create = #{messageCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
        </set>
        where photographer_message_id = #{photographerMessageId,jdbcType=Integer}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bean.U_to_p_message">
    update u_to_p_message
    set photographer_message_content = #{photographerMessageContent,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=Integer},
      photographer_id = #{photographerId,jdbcType=Integer},
      message_create = #{messageCreate,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR}
    where photographer_message_id = #{photographerMessageId,jdbcType=Integer}
  </update>
</mapper>