<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.bean.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_img_url" jdbcType="VARCHAR" property="userImgUrl" />
    <result column="phone_number" jdbcType="INTEGER" property="phoneNumber" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="photographer_id" jdbcType="BIGINT" property="photographerId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_success_times" jdbcType="INTEGER" property="userSuccessTimes" />
    <result column="user_message_id" jdbcType="BIGINT" property="userMessageId" />
    <result column="attention_id" jdbcType="BIGINT" property="attentionId" />
  </resultMap>

  <!--1.管理者界面用户信息结果集-->
  <resultMap id="ManageUsers" type="com.bean.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone_number" jdbcType="INTEGER" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="user_success_times" jdbcType="INTEGER" property="userSuccessTimes" />
  </resultMap>
  <!--2.用户登录结果集-->
  <resultMap id="UserLogin" type="com.bean.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="phone_number" jdbcType="INTEGER" property="phoneNumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_name, password, user_img_url, phone_number, id_number, email, user_status, 
    photographer_id, order_id, user_success_times, user_message_id, attention_id
  </sql>
  <!--1.管理员查询用户信息sql-->
  <sql id="Manage_Users">
    user_name,phone_number,email,user_success_times
  </sql>
  <!--2.用户登录验证sql-->
  <sql id="User_Login">
    user_id ,phone_number, password
  </sql>

  <!--1.管理员用名字模糊查询-->
  <!--List<User> selectByUserName(String userName);-->
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="ManageUsers">
    SELECT
    <include refid="Manage_Users"/>
    FROM USER
    WHERE
    <if test='user_name != "%null%"'>
      user_name LIKE #{userName}
    </if>
  </select>
  <!--2.用户登录select语句-->
  <!--User findUserByPhoneNumber(Integer phoneNumber);-->
  <select id="findUserByPhoneNumber" parameterType="java.lang.Integer" resultMap="UserLogin">
    SELECT
    <include refid="User_Login"/>
    WHERE phone_number=#{phoneNumber}
  </select>

  <select id="selectByExample" parameterType="com.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.User">
    insert into user (user_id, user_name, password, 
      user_img_url, phone_number, id_number, 
      email, user_status, photographer_id, 
      order_id, user_success_times, user_message_id, 
      attention_id)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userImgUrl,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=INTEGER}, #{idNumber,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{userStatus,jdbcType=INTEGER}, #{photographerId,jdbcType=BIGINT}, 
      #{orderId,jdbcType=BIGINT}, #{userSuccessTimes,jdbcType=INTEGER}, #{userMessageId,jdbcType=BIGINT}, 
      #{attentionId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userImgUrl != null">
        user_img_url,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="photographerId != null">
        photographer_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userSuccessTimes != null">
        user_success_times,
      </if>
      <if test="userMessageId != null">
        user_message_id,
      </if>
      <if test="attentionId != null">
        attention_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userImgUrl != null">
        #{userImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="photographerId != null">
        #{photographerId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userSuccessTimes != null">
        #{userSuccessTimes,jdbcType=INTEGER},
      </if>
      <if test="userMessageId != null">
        #{userMessageId,jdbcType=BIGINT},
      </if>
      <if test="attentionId != null">
        #{attentionId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.userImgUrl != null">
        user_img_url = #{record.userImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null">
        phone_number = #{record.phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="record.idNumber != null">
        id_number = #{record.idNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.userStatus != null">
        user_status = #{record.userStatus,jdbcType=INTEGER},
      </if>
      <if test="record.photographerId != null">
        photographer_id = #{record.photographerId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.userSuccessTimes != null">
        user_success_times = #{record.userSuccessTimes,jdbcType=INTEGER},
      </if>
      <if test="record.userMessageId != null">
        user_message_id = #{record.userMessageId,jdbcType=BIGINT},
      </if>
      <if test="record.attentionId != null">
        attention_id = #{record.attentionId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set user_id = #{record.userId,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      user_img_url = #{record.userImgUrl,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=INTEGER},
      id_number = #{record.idNumber,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      user_status = #{record.userStatus,jdbcType=INTEGER},
      photographer_id = #{record.photographerId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      user_success_times = #{record.userSuccessTimes,jdbcType=INTEGER},
      user_message_id = #{record.userMessageId,jdbcType=BIGINT},
      attention_id = #{record.attentionId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userImgUrl != null">
        user_img_url = #{userImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="photographerId != null">
        photographer_id = #{photographerId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userSuccessTimes != null">
        user_success_times = #{userSuccessTimes,jdbcType=INTEGER},
      </if>
      <if test="userMessageId != null">
        user_message_id = #{userMessageId,jdbcType=BIGINT},
      </if>
      <if test="attentionId != null">
        attention_id = #{attentionId,jdbcType=BIGINT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_img_url = #{userImgUrl,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=INTEGER},
      id_number = #{idNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=INTEGER},
      photographer_id = #{photographerId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      user_success_times = #{userSuccessTimes,jdbcType=INTEGER},
      user_message_id = #{userMessageId,jdbcType=BIGINT},
      attention_id = #{attentionId,jdbcType=BIGINT}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>